* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* border: 1px solid red; */
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: whitesmoke;
}

#flipbook .shadow {
  box-shadow: 0 4px 10px #666;
}

img {
  pointer-events: none;
}

#progress_bar {
  display: flex;
  justify-items: center;
  -webkit-appearance: none;
  justify-self: center;
  width: 85%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}

#progress_bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffdd01;
  cursor: pointer;
}

#progress_bar::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffdd01;
  cursor: pointer;
}

#progress_bar::-moz-range-progress {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffdd01;
  cursor: pointer;
}

#l-arrow-box {
  margin-right: 10px;
  color: black;
  justify-self: left;
  display: flex;
  place-items: center;
  font-size: 20px;
}

#r-arrow-box {
  margin-left: 10px;
  color: black;
  justify-self: right;
  display: flex;
  place-items: center;
  font-size: 20px;
}

.arrows {
  cursor: pointer;
  ;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.arrows:hover {
  color: #ffdd01;
}

#turn-tooltip {
  z-index: 1000;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0 4px 10px #666;
  padding: 5px;
  background-color: white;
  max-width: 150px;
}

#turn-tooltip-line{
  z-index: 1001;
  height: 2px;
  width: 2px;
  background-color: #ffdd01;
  position: absolute;

  top: 100px;
  left: 100px;
}

.tooltip{
  visibility: visible;
}
